<link href="/stylesheets/views/userCenter.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/views/dropdown.css" rel="stylesheet" type="text/css" />
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="app">

    <!-- begin:: Content -->

    <!-- begin:: Hero -->
    <div class="kt-sc-faq" style="background-image: url('/media/banner/user_center.jpg');">
      <div class="kt-container ">
        <div class="kt-sc__top">
        </div>
      </div>
    </div>

    <!-- end:: Hero -->
    <div class="kt-negative-spacing--8"></div>

    <!-- begin:: Section -->
    <div class="kt-container ">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-infobox">
            <div class="kt-infobox__body">
              <div class="row">
                <div class="col-md-2 border-right">
                  <span class="kt-nav-title">能力中心</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item active">
                      <a class="kt-nav__link" href="/center/comprehensive">
                        <span class="kt-nav__link-text">就业测评</span>
                      </a>
                    </li>
                    {{!-- <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/project">
                        <span class="kt-nav__link-text">参与项目</span>
                      </a>
                    </li> --}}
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/qa">
                        <span class="kt-nav__link-text">我的问答</span>
                      </a>
                    </li>
                  </ul>

                  <div class="kt-margin-t-15"></div>

                  <span class="kt-nav-title">职场就业</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/follow">
                        <span class="kt-nav__link-text">我关注的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/follow/me">
                        <span class="kt-nav__link-text">关注我的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/interview">
                        <span class="kt-nav__link-text">我的面试</span>
                      </a>
                    </li>
                  </ul>
                  <div class="kt-margin-t-15"></div>
                  <span class="kt-nav-title">信息设置</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/info">
                        <span class="kt-nav__link-text">个人信息</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/changePassword">
                        <span class="kt-nav__link-text">密码修改</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-10 kt-padding-l-15 kt-padding-r-15">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedDirection.directionName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:" @click="onFilterByDirection(0, '全部方向')">全部方向</a>
                          <a v-for="data in directionList" class="dropdown-item" href="javascript:"
                             @click="onFilterByDirection(data.directionCode, data.directionName)" v-text="data.directionName">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedLanguage.languageName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:" @click="onFilterByLanguage(0, '全部技术')">全部技术</a>
                          <a v-for="language in programLanguageList" class="dropdown-item" href="javascript:"
                             @click="onFilterByLanguage(language.languageCode, language.languageName)" v-text="language.languageName">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedDifficultyLevel.difficultyLevelName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:" @click="onFilterByDifficulty(0, '全部级别')">全部级别</a>
                          <a v-for="data in difficultyLevelList" class="dropdown-item" href="javascript:"
                             @click="onFilterByDifficulty(data.difficultyLevelCode, data.difficultyLevelName)" v-text="data.difficultyLevelName">
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedStatus.statusName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:" @click="onFilterByStatus('NULL', '全部状态')">全部状态</a>
                          <a v-for="data in statusList" class="dropdown-item" href="javascript:"
                             @click="onFilterByStatus(data.statusCode, data.statusName)" v-text="data.statusName">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row kt-margin-t-25" v-if="totalCount == 0">
                    <div class="col-md-12 text-center">
                      未查询到满足条件的就业评测练习题
                    </div>
                  </div>

                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="margin: 0 auto" v-if="totalCount > 0">
                    <table class="kt-datatable__table kt-datatable__row--hover table-hover" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0;">
                        <th class="kt-datatable__cell">
                          <span style="width: 200px;">标题</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 180px;">考察点</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 100px;">就业方向</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 100px;">编程语言</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 100px;">难度</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 100px;">状态</span>
                        </th>
                        <th class="kt-datatable__cell">
                          <span style="width: 100px;">操作</span>
                        </th>
                      </tr>
                      </thead>
                      <tbody class="kt-datatable__body" style="">
                      <tr class="kt-datatable__row" style="left: 0; height: 50px" v-for="data in dataList">
                        <td class="kt-datatable__cell">
                          <span style="width: 200px;" v-text="data.exercisesTitle"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 180px;" v-text="data.examKnowledge"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 100px;" v-text="data.examTypeText"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 100px;" v-text="data.programLanguageName"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 100px;" v-text="data.difficultyLevelText"></span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 100px">
                            <span class="kt-badge kt-badge--inline kt-badge--pill"
                                  :class="{'kt-badge--primary': data.dataStatus == 'P','kt-badge--success': data.dataStatus == 'Y','kt-badge--danger': data.dataStatus == 'N'}"
                                  v-text="data.dataStatusText"></span>
                          </span>
                        </td>
                        <td class="kt-datatable__cell">
                          <span style="width: 100px;">
                            <a :href="'/exercises/comprehensive/detail?exercisesID='+data.exercisesID" target="_blank" class="kt-link kt-link--primary">
                              <span v-if="data.dataStatus == 'P' || data.dataStatus == 'N'">修改</span>
                              <span v-if="data.dataStatus == 'Y'">查看</span>
                            </a>
                          </span>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="kt-pagination kt-pagination--warning kt-pagination--circle kt-padding-25"
                         v-if="totalCount > 0">
                      <div class="kt-pagination__toolbar">
                    <span class="pagination__desc">
                      共有<span v-text="totalCount"></span>个满足条件的就业测评, 当前显示第<span
                            v-text="fromIndex"></span>到第<span
                            v-text="toIndex"></span>个测评
                    </span>
                      </div>
                      <ul class="kt-pagination__links">
                        <li class="kt-pagination__link--first"
                            :class="{'pagination-disabled': prePageNum == -1}">
                          <a href="javascript:" @click="onFirstPage"><i
                                  class="fa fa-angle-double-left kt-font-primary"></i></a>
                        </li>
                        <li class="kt-pagination__link--next"
                            :class="{'pagination-disabled': prePageNum == -1}">
                          <a href="javascript:" @click="onPrePage"><i
                                  class="fa fa-angle-left kt-font-primary"></i></a>
                        </li>

                        <li v-for="pagination in paginationArray"
                            :class="{'kt-pagination__link--active': pageNumber == pagination}">
                          <a href="javascript:" v-text="pagination" @click="onPagination(pagination)"></a>
                        </li>

                        <li class="kt-pagination__link--prev"
                            :class="{'pagination-disabled': nextPageNum == -1}">
                          <a href="javascript:" @click="onNextPage"><i
                                  class="fa fa-angle-right kt-font-primary"></i></a>
                        </li>
                        <li class="kt-pagination__link--last"
                            :class="{'pagination-disabled': nextPageNum == -1}">
                          <a href="javascript:" @click="onLastPage"><i
                                  class="fa fa-angle-double-right kt-font-primary"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>

<!--                  <div class="row" v-if="totalCount > 0">-->
<!--                    <div class="col-md-12">-->
<!--                      <div class="kt-pagination kt-pagination--warning kt-pagination--circle">-->
<!--                        <div class="kt-pagination__toolbar">-->
<!--                          <span class="pagination__desc">-->
<!--                            共收藏<span v-text="totalCount"></span>个就业测评，当前显示第<span v-text="fromIndex"></span>到第<span-->
<!--                              v-text="toIndex"></span>个测评习题-->
<!--                          </span>-->
<!--                        </div>-->
<!--                        <ul class="kt-pagination__links">-->
<!--                          <li class="kt-pagination__link--first" :class="{'pagination-disabled': prePageNum == -1}">-->
<!--                            <a href="javascript:" @click="onFirstPage()">-->
<!--                              <i class="fa fa-angle-double-left kt-font-warning"></i>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li class="kt-pagination__link--next" :class="{'pagination-disabled': prePageNum == -1}">-->
<!--                            <a href="javascript:" @click="onPrePage()">-->
<!--                              <i class="fa fa-angle-left kt-font-warning"></i>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li v-for="pagination in paginationArray"-->
<!--                            :class="{'kt-pagination__link--active': pageNumber == pagination}">-->
<!--                            <a href="javascript:" v-text="pagination" @click="onPagination(pagination)"></a>-->
<!--                          </li>-->
<!--                          <li class="kt-pagination__link--prev" :class="{'pagination-disabled': nextPageNum == -1}">-->
<!--                            <a href="javascript:" @click="onNextPage()"><i class="fa fa-angle-right"></i></a>-->
<!--                          </li>-->
<!--                          <li class="kt-pagination__link--last" :class="{'pagination-disabled': nextPageNum == -1}">-->
<!--                            <a href="javascript:" @click="onLastPage()"><i class="fa fa-angle-double-right"></i></a>-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Section -->

    <!-- begin:: Modal -->
    <div class="modal fade" id="modal_submit_git" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" v-text="modalTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-solid-warning alert-bold" role="alert">
                <div class="alert-text">先将练习上传到GitHub，并在此处填写练习在GitHub上的地址</div>
              </div>

              <input type="url" class="form-control" v-model="gitUrl" :class="{'is-invalid': gitUrlInValid}" placeholder="请填写练习在GitHub上的地址">
              <div class="invalid-feedback" v-if="gitUrlInValid" v-text="gitUrlInValidMessage"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary btn-wide btn-elevate" @click="onSubmit()">
                提交
              </button>
            </div>
          </div>
        </div>
    </div>
    <!-- end:: Modal -->


    <!-- end:: Content -->
  </div>
</div>
<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/comprehensiveCenter.js');
  });
</script>