<link href="/stylesheets/views/userCenter.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/views/dropdown.css" rel="stylesheet" type="text/css" />
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="app">

    <!-- begin:: Content -->

    <!-- begin:: Hero -->
    <div class="kt-sc-faq" style="background-image: url('/media/misc/bg-9.jpg');">
      <div class="kt-container ">
        <div class="kt-sc__top">
          <h3 class="kt-sc__title">
            我的未来不是梦！
          </h3>

        </div>
      </div>
    </div>

    <!-- end:: Hero -->
    <div class="kt-negative-spacing--8"></div>

    <!-- begin:: Section -->
    <div class="kt-container ">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-infobox">
            <div class="kt-infobox__body">
              <div class="row">
                <div class="col-lg-2 border-right">
                  <span class="kt-nav-title">能力中心</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item active">
                      <a class="kt-nav__link" href="/center/comprehensive">
                        <span class="kt-nav__link-text">就业测评</span>
                      </a>
                    </li>
                    {{!-- <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/project">
                        <span class="kt-nav__link-text">参与项目</span>
                      </a>
                    </li> --}}
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/qa">
                        <span class="kt-nav__link-text">我的问答</span>
                      </a>
                    </li>
                  </ul>

                  <div class="kt-margin-t-15"></div>

                  <span class="kt-nav-title">职场就业</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/follow">
                        <span class="kt-nav__link-text">我关注的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/follow/me">
                        <span class="kt-nav__link-text">关注我的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/interview">
                        <span class="kt-nav__link-text">我的面试</span>
                      </a>
                    </li>
                  </ul>
                  <div class="kt-margin-t-15"></div>
                  <span class="kt-nav-title">信息设置</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/info">
                        <span class="kt-nav__link-text">个人信息</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/changePassword">
                        <span class="kt-nav__link-text">密码修改</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-10 kt-padding-l-15 kt-padding-r-15">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedDirection.directionName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" @click="onFilterByDirection()">全部研发方向</a>
                          <a v-for="data in directionList" class="dropdown-item" href="javascript:;"
                            @click="onFilterByDirection(data)" v-text="data.directionName">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedCategory.technologyCategoryName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" @click="onFilterByCategory()">全部技术分类</a>
                          <a v-for="data in categoryList" class="dropdown-item" href="javascript:;"
                            @click="onFilterByCategory(data)" v-text="data.technologyCategoryName">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedTechnology.technologyName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" @click="onFilterByTechnology()">全部研发方向</a>
                          <a v-for="data in technologyList" class="dropdown-item" href="javascript:;"
                            @click="onFilterByTechnology(data)" v-text="data.technologyName">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="dropdown form-dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                          <span v-text="selectedStatus.statusName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" @click="onFilterByStatus()">全部状态</a>
                          <a v-for="data in statusList" class="dropdown-item" href="javascript:;"
                            @click="onFilterByStatus(data)" v-text="data.statusName">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row kt-margin-t-25" v-if="totalCount == 0">
                    <div class="col-md-12 text-center">
                      未查询到满足条件的就业评测练习题
                    </div>
                  </div>

                  <div class="row kt-margin-t-15" v-if="totalCount > 0">
                    <div class="col-md-3" v-for="data in dataList">
                      <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head kt-portlet__head--noborder kt-padding-0">
                          <img :src="data.technologyThumbnailRectangle" class="width-full" alt="">
                        </div>
                        <div class="kt-portlet__body kt-padding-15">
                          <div class="kt-widget kt-widget--user-profile-2 ">
                            <div class="kt-widget__body">
                              <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                  <h6 :title="data.exercisesName" v-text="data.exercisesName" class="ellipsis"></h6>
                                </div>
                                <div class="kt-widget__contact">
                                  <p :title="data.memo" class="kt-widget__data ellipsis-3" v-text="data.memo"></p>
                                </div>
                                <div class="kt-widget__contact kt-margin-b-10">
                                  <div class="row width-full">
                                    <div class="col-md-5">
                                      <span class="kt-badge kt-badge--inline course-status "
                                        :class="{'kt-badge--danger': data.dataStatus == 'P', 'kt-badge--success': data.dataStatus == 'A'}"
                                        v-text="data.dataStatusText"></span>
                                    </div>
                                    <div class="col-md-7 kt-padding-0 kt-align-right">
                                      <a :href="data.documentUrl" target="_blank">查看文档</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="kt-widget__contact">
                                  <div
                                    class="alert alert-solid-warning alert-bold kt-margin-b-0 kt-padding-5 width-full text-center"
                                    role="alert">
                                    <div class="alert-text">已被<span v-text="data.reviewCompanyCount"></span>家企业查看<span
                                        v-text="data.reviewTotalCount"></span>次</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="kt-widget__footer kt-margin-t-5">
                              <div class="row">
                                <div class="col-md-5">
                                  <button type="button" class="btn btn-collect no-border" @click="onDelete(data)">
                                    <i class="la la-trash"></i>
                                    <span>删除</span></button>
                                </div>
                                <div class="col-md-7">
                                  <button type="button" class="btn btn-warning" @click="onShowDialog(data)">
                                    <i class="fab fa-github"></i>
                                    提交作品
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="totalCount > 0">
                    <div class="col-md-12">
                      <div class="kt-pagination  kt-pagination--warning kt-pagination--circle">
                        <div class="kt-pagination__toolbar">
                          <span class="pagination__desc">
                            共收藏<span v-text="totalCount"></span>个就业测评，当前显示第<span v-text="fromIndex"></span>到第<span
                              v-text="toIndex"></span>个测评习题
                          </span>
                        </div>
                        <ul class="kt-pagination__links">
                          <li class="kt-pagination__link--first" :class="{'pagination-disabled': prePageNum == -1}">
                            <a href="javascript:" @click="onFirstPage()">
                              <i class="fa fa-angle-double-left kt-font-warning"></i>
                            </a>
                          </li>
                          <li class="kt-pagination__link--next" :class="{'pagination-disabled': prePageNum == -1}">
                            <a href="javascript:" @click="onPrePage()">
                              <i class="fa fa-angle-left kt-font-warning"></i>
                            </a>
                          </li>
                          <li v-for="pagination in paginationArray"
                            :class="{'kt-pagination__link--active': pageNumber == pagination}">
                            <a href="javascript:" v-text="pagination" @click="onPagination(pagination)"></a>
                          </li>
                          <li class="kt-pagination__link--prev" :class="{'pagination-disabled': nextPageNum == -1}">
                            <a href="javascript:" @click="onNextPage()"><i class="fa fa-angle-right kt-font-warning"></i></a>
                          </li>
                          <li class="kt-pagination__link--last" :class="{'pagination-disabled': nextPageNum == -1}">
                            <a href="javascript:" @click="onLastPage()"><i class="fa fa-angle-double-right kt-font-warning"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Section -->

    <!-- begin:: Modal -->
    <div class="modal fade" id="modal_submit_git" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" v-text="modalTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-solid-warning alert-bold" role="alert">
                <div class="alert-text">先将练习上传到GitHub，并在此处填写练习在GitHub上的地址</div>
              </div>

              <input type="url" class="form-control" v-model="gitUrl" :class="{'is-invalid': gitUrlInValid}" placeholder="请填写练习在GitHub上的地址">
              <div class="invalid-feedback" v-if="gitUrlInValid" v-text="gitUrlInValidMessage"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary btn-wide btn-elevate" @click="onSubmit()">
                提交
              </button>
            </div>
          </div>
        </div>
    </div>
    <!-- end:: Modal -->


    <!-- end:: Content -->
  </div>
</div>
<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/comprehensiveCenter.js');
  });
</script>