<link href="/stylesheets/views/userCenter.css" rel="stylesheet" type="text/css" />
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="app">
  <div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Content -->

    <!-- begin:: Hero -->
    <div class="kt-sc-faq" style="background-image: url('/media/banner/user_center.jpg');">
      <div class="kt-container ">
        <div class="kt-sc__top">
        </div>
      </div>
    </div>

    <!-- end:: Hero -->
    <div class="kt-negative-spacing--8"></div>

    <!-- begin:: Section -->
    <div class="kt-container ">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-infobox">
            <div class="kt-infobox__body">
              <div class="row">
                <div class="col-lg-2 border-right">
                  <span class="kt-nav-title">能力中心</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/comprehensive">
                        <span class="kt-nav__link-text">就业测评</span>
                      </a>
                    </li>
                    {{!-- <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/project">
                        <span class="kt-nav__link-text">参与项目</span>
                      </a>
                    </li> --}}
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/qa">
                        <span class="kt-nav__link-text">我的问答</span>
                      </a>
                    </li>
                  </ul>

                  <div class="kt-margin-t-15"></div>

                  <span class="kt-nav-title">职场就业</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item active">
                      <a class="kt-nav__link" href="/center/my/follow">
                        <span class="kt-nav__link-text">我关注的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/follow/me">
                        <span class="kt-nav__link-text">关注我的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/interview">
                        <span class="kt-nav__link-text">我的面试</span>
                      </a>
                    </li>
                  </ul>
                  <div class="kt-margin-t-15"></div>
                  <span class="kt-nav-title">信息设置</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/info">
                        <span class="kt-nav__link-text">个人信息</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/changePassword">
                        <span class="kt-nav__link-text">密码修改</span>
                      </a>
                    </li>
                  </ul>

                </div>
                <div class="col-lg-10 kt-padding-l-20 kt-padding-r-15">
                  <div v-cloak v-if="totalCount > 0">
                    <div class="kt-margin-b-15">你共计关注了 <span class="kt-font-warning kt-font-bolder" v-text="totalCount"></span> 家企业</div>
                    <div class="row" v-for="data in dataList">
                      <div class="col-md-4">
                        <div class="kt-portlet">
                          <div class="kt-portlet__body kt-margin-t-55">
                            <div class="kt-widget kt-widget--user-profile-2 ">
                              <div class="kt-widget__head">
                                <div class="kt-widget__media"><img
                                    :src="data.brand" alt="image"
                                    class="kt-widget__img"></div>
                                <div class="kt-widget__info">
                                  <h4 href="javascript:;" class="kt-widget__username kt-font-bold" v-text="data.companyAbbreviation">小米北京</h4> 
                                  <span class="kt-widget__desc">正在使用<span v-text="data.usingTechnologyCount"></span>项技术</span>
                                </div>
                              </div>
                              <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                  <div class="kt-widget__contact">
                                    <p class="ellipsis-5" v-text="data.memo"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="kt-widget__footer kt-margin-0">
                                <div class="row">
                                  <div class="col-md-7" style="padding-top: 11px;">
                                    <i class="la la-heart kt-font-primary"></i> 
                                    <span v-text="data.collectTotalCount + '人关注了该企业'"></span>
                                  </div>
                                  <div class="col-md-5">
                                    <button type="button" class="btn btn-collect" @click="onCancel(data)">
                                      <span>取消关注</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-6" v-for="technology in data.technologyGapAnalysisList">
                            <div class="kt-portlet">
                              <div class="kt-portlet__head kt-portlet__head--noborder kt-padding-15">
                                <img :src="technology.technologyThumbnailRectangle" class="width-full" alt="">

                              </div>
                              <div class="kt-portlet__body kt-padding-15" style="padding-top: 0 !important;">
                                <div class="kt-widget kt-widget--user-profile-2 ">
                                  <div class="kt-widget__body kt-margin-b-0-">
                                    <div class="kt-widget__item">
                                      <div class="kt-widget__contact kt-margin-b-5">
                                        <h4 v-text="technology.technologyName"></h4>
                                      </div>
                                      <div class="kt-widget__contact kt-margin-b-5">
                                        <span class="kt-widget__data">起步级别: <h4 class="kt-block-inline" v-text="technology.recruitLevel"></h4></span> 
                                        <span class="kt-widget__data">你的级别: <h4 class="kt-block-inline" v-text="technology.studentLevel"></h4></span>
                                      </div>
                                      <div class="kt-widget__contact kt-margin-b-5">
                                        <span class="kt-widget__data">知识点: <span v-text="technology.requiredKnowledge"></span></span> 
                                        <span class="kt-widget__data">已掌握: <span v-text="technology.finishKnowledgePercent + '%'"></span></span>
                                      </div>
                                      <div class="kt-widget__contact kt-margin-b-5">
                                        <span class="kt-widget__data">综合练习: <span v-text="technology.requiredComprehensiveExercises"></span></span> 
                                        <span class="kt-widget__data">已完成: <span v-text="technology.finishComprehensiveExercisesCount + '个'"></span></span>
                                      </div>
                                      <div class="kt-widget__contact kt-margin-b-5">
                                        <span class="kt-widget__data">实战项目: <span v-text="technology.requiredProjectExercises"></span></span> 
                                        <span class="kt-widget__data">已完成: <span v-text="technology.joinProjectExercisesCount + '个'"></span></span>
                                      </div>

                                      <div class="kt-widget__contact text-center">
                                        <span class="kt-font-danger" v-if="technology.finishKnowledgePercent == 0 && technology.finishComprehensiveExercisesCount == 0 && technology.joinProjectExercisesCount == 0">你还没有开始学习该技术</span>
                                        <span class="kt-font-primary" v-if="technology.finishKnowledgePercent != 0 || technology.finishComprehensiveExercisesCount != 0 || technology.joinProjectExercisesCount != 0">距离你的目标越来越近了，继续努力，加油！</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <a href="javascript:" 
                          class="kt-link kt-link--brand kt-font-bolder"
                          @click="onLoadMoreCollect()"
                          v-if="pageNumber < maxPageNumber">加载更多</a>
                      <span v-if="pageNumber >= maxPageNumber">没有更多内容了</span>
                    </div>
                  </div>
                  <div v-cloak class="text-center" v-if="totalCount == 0">
                    <h4>你还没有关注任何企业</h4> 
                    <p>关注有意向的企业，可实时了解你与企业要求的匹配程度！</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end:: Section -->

    <!-- end:: Content -->
  </div>
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/myFollow.js');
  });
</script>