<link href="/stylesheets/views/userCenter.css" rel="stylesheet" type="text/css"/>
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content -->

    <!-- begin:: Hero -->
    <div class="kt-sc-faq" style="background-image: url('/media/misc/bg-9.jpg');">
      <div class="kt-container ">
        <div class="kt-sc__top">
          <h3 class="kt-sc__title">
            我的未来不是梦！
          </h3>
          
        </div>
      </div>
    </div>

    <!-- end:: Hero -->
    <div class="kt-negative-spacing--8"></div>

    <!-- begin:: Section -->
    <div class="kt-container ">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-infobox">
            <div class="kt-infobox__body">
              <div class="row">
                <div class="col-lg-2 border-right">
                  <span class="kt-nav-title">能力中心</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/comprehensive">
                        <span class="kt-nav__link-text">就业测评</span>
                      </a>
                    </li>
                    {{!-- <li class="kt-nav__item active">
                      <a class="kt-nav__link" href="/center/project">
                        <span class="kt-nav__link-text">参与项目</span>
                      </a>
                    </li> --}}
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/qa">
                        <span class="kt-nav__link-text">我的问答</span>
                      </a>
                    </li>
                  </ul>

                  <div class="kt-margin-t-15"></div>

                  <span class="kt-nav-title">职场就业</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/follow">
                        <span class="kt-nav__link-text">我关注的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/follow/me">
                        <span class="kt-nav__link-text">关注我的</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/interview">
                        <span class="kt-nav__link-text">我的面试</span>
                      </a>
                    </li>
                  </ul>
                  <div class="kt-margin-t-15"></div>
                  <span class="kt-nav-title">信息设置</span>
                  <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4">
                    <li class="kt-nav__item">
                      <a class="kt-nav__link" href="/center/my/info">
                        <span class="kt-nav__link-text">个人信息</span>
                      </a>
                    </li>
                    <li class="kt-nav__item ">
                      <a class="kt-nav__link" href="/center/changePassword">
                        <span class="kt-nav__link-text">密码修改</span>
                      </a>
                    </li>
                  </ul>

                </div>
                <div class="col-lg-10">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end:: Section -->

    <!-- end:: Content -->
  </div>
</div>