<link href="/stylesheets/views/recruitStandard.css" rel="stylesheet" type="text/css"/>
<div id="app">
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid body-header">
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
    </div>
  </div>

  <div class="kt-container kt-grid__item kt-grid__item--fluid kt-margin-t-25">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xl-3" v-for="company in companyList">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-2 ">
              <div class="kt-widget__head">
                <div class="kt-widget__media">
                  <img class="kt-widget__img" :src="company.brand" alt="image">
                </div>

                <div class="kt-widget__info">
                  <h4 href="javascript:;" @click='onOpenTechnologyInfo(data.technologyID, 1)'
                    v-text="company.companyAbbreviation" class="kt-widget__username kt-font-bold"></h4>

                  <span class="kt-widget__desc">
                    正在使用<span v-text="company.usingTechnologyCount"></span>项技术
                  </span>
                </div>
              </div>
              <div class="kt-widget__body">
                <div class="kt-widget__item">
                  <div class="kt-widget__contact">
                    <p v-text="company.memo" class="ellipsis-5"></p>
                  </div>
                </div>
              </div>
              <div class="kt-widget__footer kt-margin-0">
                <div class="row">
                  <div class="col-md-4">
                    <button type="button" class="btn" :class="{'btn-collect': company.isCollect == 0, 'kt-font-primary': company.isCollect == 1}" @click="onCollect(company)">
                      <i class="la" :class="{'la-heart-o': company.isCollect == 0, 'la-heart': company.isCollect == 1}"></i>
                      <span v-if="company.isCollect == 0">关注</span>
                      <span v-if="company.isCollect == 1" class="kt-font-primary">已关注</span>
                    </button>
                  </div>
                  <div class="col-md-8">
                    <button type="button" class="btn btn-primary" @click="onShowDetail(company)">
                      查看起步级别
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-pagination  kt-pagination--warning kt-pagination--circle" v-if="totalCount > 0">
      <div class="kt-pagination__toolbar">
        <span class="pagination__desc">
          共查询到<span v-text="totalCount"></span>个合作企业，当前显示第<span v-text="fromIndex"></span>到第<span
                              v-text="toIndex"></span>个企业
      </div>
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first" :class="{'pagination-disabled': prePageNum == -1}">
          <a href="javascript:" @click="onFirstPage"><i class="fa fa-angle-double-left kt-font-warning"></i></a>
        </li>
        <li class="kt-pagination__link--next" :class="{'pagination-disabled': prePageNum == -1}">
          <a href="javascript:" @click="onPrePage"><i class="fa fa-angle-left kt-font-warning"></i></a>
        </li>
        <li v-for="pagination in paginationArray" :class="{'kt-pagination__link--active': pageNumber == pagination}">
          <a href="javascript:" v-text="pagination" @click="onPagination(pagination)"></a>
        </li>
        <li class="kt-pagination__link--prev" :class="{'pagination-disabled': nextPageNum == -1}">
          <a href="javascript:" @click="onNextPage"><i class="fa fa-angle-right kt-font-warning"></i></a>
        </li>
        <li class="kt-pagination__link--last" :class="{'pagination-disabled': nextPageNum == -1}">
          <a href="javascript:" @click="onLastPage"><i class="fa fa-angle-double-right kt-font-warning"></i></a>
        </li>
      </ul>
    </div>

    {{!-- <div class="row" v-if="companyList.length < totalCount">
      <div class="col-xl-12 text-center">
        <button type="button" class="btn btn-secondary btn-elevate btn-pill" @click="onLoadMore()">
          <i class="fa fa-sync-alt"></i> 查看更多
        </button>
      </div>
    </div> --}}
  </div>

  <div class="modal fade" id="modal_using_technology" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" v-text="companyModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>使用技术</th>
                <th>起步级别</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for = "(technology, index) in technologyList">
                <th scope="row" v-text="index + 1"></th>
                <td v-text="technology.technologyName"></td>
                <td v-text="technology.recruitLevel"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
    
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/recruitStandard.js');
  });
</script>