.body-header {
    max-height: 150px;
    height: 150px;
    background: url(/media/banner/job_evaluation_header.jpg) no-repeat;
    background-size: 100% 100%;
}

.comprehensive-exercises tr {
    height: 45px;
}

.comprehensive-exercises .technology-name {
    width: 20%;
}

.comprehensive-exercises .exercises-name {
    width: 30%;
}

.comprehensive-exercises .file-name {
    width: 30%;
}

.comprehensive-exercises .option {
    width: 20%;
}