.body-header {
  max-height: 132px;
  height: 132px;
  background: url(/media/bg/header.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.search-control {
  width: 380px;
  float: right;
  margin-top: 47px;
}
.courses .kt-portlet .kt-portlet__head {
  position: relative;
}
.courses .kt-portlet .kt-portlet__head .teacher-info{
  position: absolute; 
  bottom: 0;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(-180deg,#07111b00 0,#07111b99 97%);
}

.courses .kt-portlet .kt-portlet__head img {
  width: 100%;
}
.courses .kt-portlet .kt-portlet__head .teacher-info span {
  color: #ffffff; font-weight: bold;
}
.courses .kt-widget__progress {
  width: 220px;
}
.courses .kt-widget__progress .progress {
  height: 5px;
  width: 180px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
}
.courses .kt-widget__progress .kt-widget__stats {
  width: 18px;
  float: left;
}
.courses .course-status{
  font-weight: bold;
}
.courses .course-memo {
  height: 42px;
}