.body-header {
  max-height: 132px;
  height: 132px;
  background: url(/media/bg/header.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.kt-nav__link:hover {
  background-color: #f2f3f8 !important;
  color: #edaa2e !important;
}