.body-header {
    max-height: 150px;
    height: 150px;
    background: url(/media/banner/company_header.jpg) no-repeat;
    background-size: 100% 100%;
}

.btn-collect {
    color: #6f6969;
}

.btn-collect:hover {
    color: #fd27eb;
}