.body-header {
    height: 223px;
    background: url(/media/bg/banner_technology.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 35px;
}

.body-header .kt-container {
    height: 160px;
    color: #f5f5f5;
}

.technology-img {
    width: 120px !important;
}

.body-header strong {
    font-size: 2rem;
    margin-right: 0.35rem;
}

.body-header i {
    margin-right: 5px;
    font-size: 1.2rem;
}

.color-white {
    color: #fff;
}

.body-header .technology-memo {
    width: 1060px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.kt-subheader__breadcrumbs {
    color: #959cb6;
}

.kt-subheader__breadcrumbs .fa-angle-right {
    margin-left: 5px;
    margin-right: 5px;
}

.using-company img {
    width: 100%;
}

.using-company .count {
    color: #f3bb3a !important;
}

.top-student table .student-name {
    width: 150px;
}

.top-student table .university-name {
    width: 140px;
}

.top-student table .major-name {
    width: 140px;
}

.top-student table .learning-processing {
    width: 160px;
}

.top-student table .progress {
    height: 1.3rem;
}

.top-student table .exercises_count {
    width: 150px;
}

.top-student table .once-compilation-success-rate {
    width: 150px;
}

.top-student table .once-run-success-rate {
    width: 150px;
}

.knowledge-list table .order {
    width: 8%;
}

.knowledge-list table .knowledge {
    width: 41%;
}

.knowledge-list table .phase {
    width: 10%;
}

.knowledge-list table .exercises-count {
    width: 12%;
}

.knowledge-list table .using-count {
    width: 14%;
}

.student-list table .student-name {
    width: 150px;
}

.student-list table .course-name {
    width: 150px;
}

.student-list table .apply-time {
    width: 150px;
}

.student-list table .university-name {
    width: 120px;
}

.student-list table .school-name {
    width: 120px;
}

.student-list table .cellphone {
    width: 100px;
}

.student-list table .enrollment-year {
    width: 100px;
}

.student-list table .apply-status {
    width: 100px;
}