.user-info input {
    text-align: left;
    /* border: none */
}

.form-dropdown-user {
    margin-top: 0 !important;
    height: 39px !important;
}

.form-dropdown-user button {
    height: 39px !important;
}

.invalid-feedback {
    height: 39px;
    padding-top: 0.3rem;
}